Dip/doc/guide/*.4LG
Dip/doc/guide/*.BAK
Dip/doc/guide/*.WRD
Dip/doc/guide/*.asv
Dip/doc/guide/*.aux
Dip/doc/guide/*.bbl
Dip/doc/guide/*.blg
Dip/doc/guide/*.dvi
Dip/doc/guide/*.tmp
Dip/doc/guide/*.tps
Dip/doc/guide/Thumbs.db
Dip/doc/guide/dippy-pres-stanford.pdf
Dip/doc/guide/dippy-pres-stanford.pptx
Dip/doc/guide/dippy.log
Dip/doc/guide/dippy20110202.zip
Dip/doc/guide/facility.run
Dip/doc/guide/report-title.log
Dip/src/dippy/.project
Dip/.project
Dip/src/dippy/.pydevproject
Dip/.pydevproject
*.bak
Dip/build
Dip/dist
*__pycache__
Dip/coinor.dippy.egg-info
Dip/python3-defaults*
*~
acinclude*
aclocal*
autom4te*
*.pyc