* text=auto !eol
/AUTHORS -text
Decomp/AUTHORS -text
Decomp/LICENSE -text
Decomp/Makefile.am -text
Decomp/Makefile.in -text
Decomp/README -text
Decomp/configure -text
Decomp/configure.ac -text
Decomp/data/AP3/Grundel.tgz -text
Decomp/data/AP3/Saltzman.tgz -text
Decomp/data/ATM/ampl/atm.mod -text
Decomp/data/ATM/ampl/atm_10_100_1.dat -text
Decomp/data/ATM/ampl/atm_5_10_1.dat -text
Decomp/data/ATM/ampl/atm_5_25_1.dat -text
Decomp/data/ATM/ampl/atm_data.dat -text
Decomp/data/ATM/atm.direct.parm -text
Decomp/data/ATM/atm.direct.sh -text
Decomp/data/ATM/atm.opt -text
Decomp/data/ATM/atm.pc.parm -text
Decomp/data/ATM/atm.pc.sh -text
Decomp/data/ATM/atm_rand.tgz -text
Decomp/data/ATM/original/dataA.txt -text
Decomp/data/ATM/original/dataAD.txt -text
Decomp/data/ATM/original/dataD.txt -text
Decomp/data/ATM/results/atm_cpx11.300.txt -text
Decomp/data/ATM/results/atm_cpx11.3600.txt -text
Decomp/data/ATM/results/atm_pc1.300.txt -text
Decomp/data/ATM/results/atm_pc1.3600.txt -text
Decomp/data/ATM/results/parameters.txt -text
Decomp/data/GAP/ReadMe.txt -text
Decomp/data/GAP/ReadMe2.txt -text
Decomp/data/GAP/gap.opt -text
Decomp/data/GAP/get.data -text
Decomp/data/MAD/equipart/NN.tar.gz -text
Decomp/data/MAD/equipart/madlib.equipart.list -text
Decomp/data/MAD/equipart/madlib.equipart.opt -text
Decomp/data/MAD/madlib.list -text
Decomp/data/MAD/madlib.opt.xls -text
Decomp/data/MAD/madlibMPS/createAll.sh -text
Decomp/data/MAD/madlibMPS/createOne.sh -text
Decomp/data/MAD/miplib/PRIMAL.tar.gz -text
Decomp/data/MAD/miplib/changename.sh -text
Decomp/data/MAD/miplib/madlib.miplib.list -text
Decomp/data/MAD/miplib/madlib.miplib.opt -text
Decomp/data/MAD/miplib/p0033.p.lp -text
Decomp/data/MAD/miplib/p0282.p.lp -text
Decomp/data/MAD/miplibT/TRANS.tar.gz -text
Decomp/data/MAD/miplibT/madlib.miplibT.list -text
Decomp/data/MAD/miplibT/madlib.miplibT.opt -text
Decomp/data/MAD/netlib/NET.tar.gz -text
Decomp/data/MAD/netlib/madlib.netlib.list -text
Decomp/data/MAD/netlib/madlib.netlib.opt -text
Decomp/data/MAD/steiner/PST.tar.gz -text
Decomp/data/MAD/steiner/madlib.steiner.list -text
Decomp/data/MAD/steiner/madlib.steiner.opt -text
Decomp/data/MAD/unzip.sh -text
Decomp/data/MEWCP/maxclique_data.txt -text
Decomp/data/MILP/block/atm.tgz -text
Decomp/data/MILP/block/results/parameters.txt -text
Decomp/data/MILP/block/results/retail_cpx11.300.txt -text
Decomp/data/MILP/block/results/retail_cpx11.3600.txt -text
Decomp/data/MILP/block/results/retail_pc1.300.txt -text
Decomp/data/MILP/block/results/retail_pc1.3600.txt -text
Decomp/data/MILP/block/results/retail_pc2.3600.txt -text
Decomp/data/MILP/block/retail.direct.parm -text
Decomp/data/MILP/block/retail.direct.sh -text
Decomp/data/MILP/block/retail.pc.parm -text
Decomp/data/MILP/block/retail.pc.sh -text
Decomp/data/MILP/block/retail.tgz -text
Decomp/data/MILP/miplib/cbcpre.sh -text
Decomp/data/MILP/miplib/miplib3.list -text
Decomp/data/MILP/miplib/miplib3_pre.tgz -text
Decomp/data/MMKP/MMKP.html -text
Decomp/data/MMKP/README.txt -text
Decomp/data/MMKP/data.tgz -text
Decomp/data/MMKP/mmkp.opt -text
Decomp/data/TSP/TSPLIB/ALL_tsp.tar.gz -text
Decomp/data/TSP/TSPLIB/TSPLIB_opt -text
Decomp/data/TSP/TSPLIB/tsplib.list -text
Decomp/data/TSP/TSPLIB/tsplib2.list -text
Decomp/data/VRP/vrplib.tgz -text
Decomp/decomp_addlibs.txt.in -text
Decomp/examples/AP3/AP3_DecompApp.cpp -text
Decomp/examples/AP3/AP3_DecompApp.h -text
Decomp/examples/AP3/AP3_DecompParam.h -text
Decomp/examples/AP3/AP3_Instance.h -text
Decomp/examples/AP3/AP3_Main.cpp -text
Decomp/examples/AP3/Makefile.in -text
Decomp/examples/AP3/ap3.parm.in -text
Decomp/examples/ATM/ATM_DecompApp.cpp -text
Decomp/examples/ATM/ATM_DecompApp.h -text
Decomp/examples/ATM/ATM_Instance.cpp -text
Decomp/examples/ATM/ATM_Instance.h -text
Decomp/examples/ATM/ATM_Main.cpp -text
Decomp/examples/ATM/ATM_Param.h -text
Decomp/examples/ATM/Makefile.in -text
Decomp/examples/ATM/atm.parm.in -text
Decomp/examples/ATM/notes.txt -text
Decomp/examples/ExternalSolvers/Knapsack/Pisinger/Makefile.in -text
Decomp/examples/ExternalSolvers/Knapsack/Pisinger/combo.c.patch -text
Decomp/examples/ExternalSolvers/Knapsack/Pisinger/combo.h.patch -text
Decomp/examples/ExternalSolvers/Knapsack/Pisinger/get.pisinger.in -text
Decomp/examples/ExternalSolvers/Knapsack/Pisinger/mcknap.c.patch -text
Decomp/examples/ExternalSolvers/Knapsack/Pisinger/mcknap.h.in -text
Decomp/examples/ExternalSolvers/Knapsack/Pisinger/patch.pisinger.in -text
Decomp/examples/GAP/GAP_Debug.h -text
Decomp/examples/GAP/GAP_DecompApp.cpp -text
Decomp/examples/GAP/GAP_DecompApp.h -text
Decomp/examples/GAP/GAP_DecompParam.h -text
Decomp/examples/GAP/GAP_Instance.cpp -text
Decomp/examples/GAP/GAP_Instance.h -text
Decomp/examples/GAP/GAP_KnapPisinger.h -text
Decomp/examples/GAP/GAP_Main.cpp -text
Decomp/examples/GAP/GAP_Status.h -text
Decomp/examples/GAP/Makefile.in -text
Decomp/examples/GAP/README.txt.in -text
Decomp/examples/GAP/data_extract.sh.in -text
Decomp/examples/GAP/gap.parm.in -text
Decomp/examples/GAP/get_pisinger.sh.in -text
Decomp/examples/GAP/old/GAP_Knapsack.h -text
Decomp/examples/MAD/MAD_Cliquer.h -text
Decomp/examples/MAD/MAD_CliquerI.h -text
Decomp/examples/MAD/MAD_DecompApp.cpp -text
Decomp/examples/MAD/MAD_DecompApp.h -text
Decomp/examples/MAD/MAD_DecompDebug.cpp -text
Decomp/examples/MAD/MAD_DecompDebug.h -text
Decomp/examples/MAD/MAD_DecompParam.h -text
Decomp/examples/MAD/MAD_DecompSolution.h -text
Decomp/examples/MAD/MAD_Heuristic.cpp -text
Decomp/examples/MAD/MAD_Main.cpp -text
Decomp/examples/MAD/MAD_MemPool.h -text
Decomp/examples/MAD/MAD_Qualex.h -text
Decomp/examples/MAD/Makefile.in -text
Decomp/examples/MAD/ReadMe.txt -text
Decomp/examples/MAD/TODO -text
Decomp/examples/MAD/mad.parm.in -text
Decomp/examples/MILP/MILP_DecompApp.cpp -text
Decomp/examples/MILP/MILP_DecompApp.h -text
Decomp/examples/MILP/MILP_Main.cpp -text
Decomp/examples/MILP/MILP_Param.h -text
Decomp/examples/MILP/Makefile.in -text
Decomp/examples/MILP/milp.parm.in -text
Decomp/examples/MILPBlock/MILPBlock_DecompApp.cpp -text
Decomp/examples/MILPBlock/MILPBlock_DecompApp.h -text
Decomp/examples/MILPBlock/MILPBlock_Main.cpp -text
Decomp/examples/MILPBlock/MILPBlock_Param.h -text
Decomp/examples/MILPBlock/Makefile.in -text
Decomp/examples/MILPBlock/README.txt.in -text
Decomp/examples/MILPBlock/milpblock.parm.in -text
Decomp/examples/MILPBlock/milpblock.parm2.in -text
Decomp/examples/MMKP/MMKP_DecompApp.cpp -text
Decomp/examples/MMKP/MMKP_DecompApp.h -text
Decomp/examples/MMKP/MMKP_Instance.cpp -text
Decomp/examples/MMKP/MMKP_Instance.h -text
Decomp/examples/MMKP/MMKP_MCKnap.cpp -text
Decomp/examples/MMKP/MMKP_MCKnap.h -text
Decomp/examples/MMKP/MMKP_Main.cpp -text
Decomp/examples/MMKP/MMKP_MemPool.h -text
Decomp/examples/MMKP/MMKP_Model.cpp -text
Decomp/examples/MMKP/MMKP_Model.h -text
Decomp/examples/MMKP/MMKP_Param.h -text
Decomp/examples/MMKP/MMKP_Status.h -text
Decomp/examples/MMKP/Makefile.in -text
Decomp/examples/MMKP/mmkp.parm.in -text
Decomp/examples/MMKP/old/old.cpp -text
Decomp/examples/Makefile.Examples.in -text
Decomp/examples/SmallIP/Makefile.in -text
Decomp/examples/SmallIP/README.txt.in -text
Decomp/examples/SmallIP/SmallIP_DecompApp.cpp -text
Decomp/examples/SmallIP/SmallIP_DecompApp.h -text
Decomp/examples/SmallIP/SmallIP_Main.cpp -text
Decomp/examples/SmallIP/smallip.parm.in -text
Decomp/examples/TSP/Makefile.in -text
Decomp/examples/TSP/TSP_Boost.h -text
Decomp/examples/TSP/TSP_Concorde.h -text
Decomp/examples/TSP/TSP_ConcordeI.h -text
Decomp/examples/TSP/TSP_CutGen.cpp -text
Decomp/examples/TSP/TSP_DecompApp.cpp -text
Decomp/examples/TSP/TSP_DecompApp.h -text
Decomp/examples/TSP/TSP_Instance.h -text
Decomp/examples/TSP/TSP_Main.cpp -text
Decomp/examples/TSP/TSP_Param.h -text
Decomp/examples/TSP/TSP_SubtourCut.cpp -text
Decomp/examples/TSP/TSP_SubtourCut.h -text
Decomp/examples/TSP/tsp.parm.in -text
Decomp/examples/VRP/Makefile.in -text
Decomp/examples/VRP/VRP_Boost.h -text
Decomp/examples/VRP/VRP_CVRPsep.h -text
Decomp/examples/VRP/VRP_Concorde.h -text
Decomp/examples/VRP/VRP_ConcordeI.h -text
Decomp/examples/VRP/VRP_DecompApp.cpp -text
Decomp/examples/VRP/VRP_DecompApp.h -text
Decomp/examples/VRP/VRP_GSECCut.cpp -text
Decomp/examples/VRP/VRP_GSECCut.h -text
Decomp/examples/VRP/VRP_Instance.h -text
Decomp/examples/VRP/VRP_Main.cpp -text
Decomp/examples/VRP/VRP_Param.h -text
Decomp/examples/VRP/VRP_SPPRC.cpp -text
Decomp/examples/VRP/boost_extract.sh.in -text
Decomp/examples/VRP/build_concorde.sh.in -text
Decomp/examples/VRP/build_cvrpsep.sh.in -text
Decomp/examples/VRP/vrp.parm.in -text
Decomp/examples/scripts/addedge.awk -text
Decomp/examples/scripts/addedges.sh -text
Decomp/examples/scripts/condor/condor.atmp.submit -text
Decomp/examples/scripts/condor/condor.milpblockp.submit -text
Decomp/examples/scripts/condor/createsub_lnx_ap3.sh -text
Decomp/examples/scripts/condor/createsub_lnx_atm.sh -text
Decomp/examples/scripts/condor/createsub_lnx_cplex_mad.sh -text
Decomp/examples/scripts/condor/createsub_lnx_cplex_tsp.sh -text
Decomp/examples/scripts/condor/createsub_lnx_cplex_vrp.sh -text
Decomp/examples/scripts/condor/createsub_lnx_mad.sh -text
Decomp/examples/scripts/condor/createsub_lnx_milpblock.sh -text
Decomp/examples/scripts/condor/createsub_lnx_tsp.sh -text
Decomp/examples/scripts/condor/createsub_lnx_vrp.sh -text
Decomp/examples/scripts/condor/license_wrapper.pl -text
Decomp/examples/scripts/condor/license_wrapper_tsp.pl -text
Decomp/examples/scripts/condor/license_wrapper_vrp.pl -text
Decomp/examples/scripts/createDecompMember.sh -text
Decomp/examples/scripts/getTimes.sh -text
Decomp/examples/scripts/graphviz/dot2ps.sh -text
Decomp/examples/scripts/report_decomp.py -text
Decomp/inc/config_decomp.h.in -text
Decomp/scripts/Copyright -text
Decomp/scripts/average.awk -text
Decomp/scripts/copyright_add.sh -text
Decomp/scripts/parse.atm.sh -text
Decomp/scripts/parse.awk.retail.sh -text
Decomp/scripts/parse.awk.sh -text
Decomp/scripts/parse.retail.sh -text
Decomp/scripts/parse2.awk.retail.sh -text
Decomp/scripts/parse2.awk.sh -text
Decomp/scripts/plot_bounds.py -text
Decomp/src/AlpsDecompModel.cpp -text
Decomp/src/AlpsDecompModel.h -text
Decomp/src/AlpsDecompNodeDesc.h -text
Decomp/src/AlpsDecompParam.h -text
Decomp/src/AlpsDecompSolution.h -text
Decomp/src/AlpsDecompTreeNode.cpp -text
Decomp/src/AlpsDecompTreeNode.h -text
Decomp/src/Decomp.h -text
Decomp/src/DecompAlgo.cpp -text
Decomp/src/DecompAlgo.h -text
Decomp/src/DecompAlgoC.cpp -text
Decomp/src/DecompAlgoC.h -text
Decomp/src/DecompAlgoCGL.cpp -text
Decomp/src/DecompAlgoCGL.h -text
Decomp/src/DecompAlgoD.cpp -text
Decomp/src/DecompAlgoD.h -text
Decomp/src/DecompAlgoPC.cpp -text
Decomp/src/DecompAlgoPC.h -text
Decomp/src/DecompAlgoRC.cpp -text
Decomp/src/DecompAlgoRC.h -text
Decomp/src/DecompApp.cpp -text
Decomp/src/DecompApp.h -text
Decomp/src/DecompBranch.cpp -text
Decomp/src/DecompConfig.h -text
Decomp/src/DecompConstraintSet.cpp -text
Decomp/src/DecompConstraintSet.h -text
Decomp/src/DecompCut.cpp -text
Decomp/src/DecompCut.h -text
Decomp/src/DecompCutOsi.h -text
Decomp/src/DecompCutPool.cpp -text
Decomp/src/DecompCutPool.h -text
Decomp/src/DecompDebug.cpp -text
Decomp/src/DecompMemPool.h -text
Decomp/src/DecompModel.cpp -text
Decomp/src/DecompModel.h -text
Decomp/src/DecompParam.h -text
Decomp/src/DecompSolution.h -text
Decomp/src/DecompSolverResult.h -text
Decomp/src/DecompStats.cpp -text
Decomp/src/DecompStats.h -text
Decomp/src/DecompVar.cpp -text
Decomp/src/DecompVar.h -text
Decomp/src/DecompVarPool.cpp -text
Decomp/src/DecompVarPool.h -text
Decomp/src/DecompWaitingCol.h -text
Decomp/src/DecompWaitingRow.h -text
Decomp/src/Makefile.am -text
Decomp/src/Makefile.in -text
Decomp/src/TODO -text
Decomp/src/UtilGraphLib.cpp -text
Decomp/src/UtilGraphLib.h -text
Decomp/src/UtilHash.cpp -text
Decomp/src/UtilHash.h -text
Decomp/src/UtilKnapsack.cpp -text
Decomp/src/UtilKnapsack.h -text
Decomp/src/UtilMacros.cpp -text
Decomp/src/UtilMacros.h -text
Decomp/src/UtilMacrosAlps.cpp -text
Decomp/src/UtilMacrosAlps.h -text
Decomp/src/UtilMacrosDecomp.cpp -text
Decomp/src/UtilMacrosDecomp.h -text
Decomp/src/UtilParameters.cpp -text
Decomp/src/UtilParameters.h -text
Decomp/src/UtilTimer.h -text
Decomp/src/old/BcpsDecompModel.cpp -text
Decomp/src/old/BcpsDecompModel.h -text
Decomp/src/old/BcpsDecompNodeDesc.h -text
Decomp/src/old/BcpsDecompSolution.cpp -text
Decomp/src/old/BcpsDecompSolution.h -text
Decomp/src/old/BcpsDecompTreeNode.cpp -text
Decomp/src/old/BcpsDecompTreeNode.h -text
Decomp/src/old/DecompAlgo.cpp -text
Decomp/src/old/DecompAlgo.h -text
Decomp/src/old/DecompAlgo.old.cpp -text
Decomp/src/old/DecompAlgo.old.h -text
Decomp/src/old/DecompAlgoC.cpp -text
Decomp/src/old/DecompAlgoC.h -text
Decomp/src/old/DecompAlgoD.cpp -text
Decomp/src/old/DecompAlgoD.h -text
Decomp/src/old/DecompAlgoPC.cpp -text
Decomp/src/old/DecompAlgoPC.h -text
Decomp/src/old/DecompAlgoRC.cpp -text
Decomp/src/old/DecompAlgoRC.h -text
Decomp/src/old/DecompApp.cpp -text
Decomp/src/old/DecompApp.h -text
Decomp/src/old/DecompBranch.cpp -text
Decomp/src/old/DecompConfig.h -text
Decomp/src/old/DecompConstants.h -text
Decomp/src/old/DecompConstraintSet.cpp -text
Decomp/src/old/DecompConstraintSet.h -text
Decomp/src/old/DecompCut.cpp -text
Decomp/src/old/DecompCut.h -text
Decomp/src/old/DecompCutOsi.h -text
Decomp/src/old/DecompCutPool.cpp -text
Decomp/src/old/DecompCutPool.h -text
Decomp/src/old/DecompDebug.cpp -text
Decomp/src/old/DecompMemPool.h -text
Decomp/src/old/DecompModel.h -text
Decomp/src/old/DecompParam.h -text
Decomp/src/old/DecompPortable.h -text
Decomp/src/old/DecompSolution.h -text
Decomp/src/old/DecompStats.cpp -text
Decomp/src/old/DecompStats.h -text
Decomp/src/old/DecompTypes.h -text
Decomp/src/old/DecompVar.cpp -text
Decomp/src/old/DecompVar.h -text
Decomp/src/old/DecompVarPool.cpp -text
Decomp/src/old/DecompVarPool.h -text
Decomp/src/old/DecompWaitingCol.h -text
Decomp/src/old/DecompWaitingRow.h -text
Decomp/src/old/Makefile.am -text
Decomp/src/old/Makefile.in -text
Decomp/src/old/OsiData.hpp -text
Decomp/src/old/OsiData2.hpp -text
Decomp/src/old/OsiNullSolverInterface.hpp -text
Decomp/src/old/OsiNullSolverInterface2.hpp -text
Decomp/src/old/UtilApp.cpp -text
Decomp/src/old/UtilApp.h -text
Decomp/src/old/UtilGraphLib.cpp -text
Decomp/src/old/UtilGraphLib.h -text
Decomp/src/old/UtilHash.cpp -text
Decomp/src/old/UtilHash.h -text
Decomp/src/old/UtilMacros.cpp -text
Decomp/src/old/UtilMacros.h -text
Decomp/src/old/UtilMacrosAlps.cpp -text
Decomp/src/old/UtilMacrosAlps.h -text
Decomp/src/old/UtilParameters.cpp -text
Decomp/src/old/UtilParameters.cpp.OLD -text
Decomp/src/old/UtilParameters.h -text
Decomp/src/old/UtilParameters.h.OLD -text
Decomp/src/old/UtilPortable.h.OLD -text
Decomp/test/Makefile.in -text
/Externals -text
/INSTALL -text
/LICENSE -text
/Makefile.am -text
/Makefile.in -text
/README -text
Win32/v9/Decomp/ExternalSolvers/Knapsack/Pisinger/Pisinger.sln -text
Win32/v9/Decomp/ExternalSolvers/Knapsack/Pisinger/Pisinger.vcproj -text
Win32/v9/Decomp/ExternalSolvers/TSP/libConcorde/libConcorde.vcproj -text
Win32/v9/Decomp/ExternalSolvers/VRP/CVRPSEP/CVRPSEP.vcproj -text
Win32/v9/Decomp/libDecomp/libDecomp.sln -text
Win32/v9/Decomp/libDecomp/libDecomp.vcproj -text
Win32/v9/DecompExamples/ATM/ATM.vcproj -text
Win32/v9/DecompExamples/ATM/atm.parm -text
Win32/v9/DecompExamples/DecompExamples.sln -text
Win32/v9/DecompExamples/GAP/GAP.vcproj -text
Win32/v9/DecompExamples/GAP/gap.parm -text
Win32/v9/DecompExamples/MMKP/MMKP.vcproj -text
Win32/v9/DecompExamples/MMKP/mmkp.parm -text
Win32/v9/DecompExamples/Milp/Milp.vcproj -text
Win32/v9/DecompExamples/Milp/milp.parm -text
Win32/v9/DecompExamples/MilpBlock/MilpBlock.vcproj -text
Win32/v9/DecompExamples/MilpBlock/milpblock.parm -text
Win32/v9/DecompExamples/SSR/SSR.vcproj -text
Win32/v9/DecompExamples/SSR/ssr.parm -text
Win32/v9/DecompExamples/SmallIP/SmallIP.vcproj -text
Win32/v9/DecompExamples/SmallIP/smallip.parm -text
Win32/v9/DecompExamples/VRP/VRP.vcproj -text
Win32/v9/DecompExamples/VRP/vrp.parm -text
conf/perms.txt -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
doxydoc/Alps/doxygen.conf -text
doxydoc/Bcps/doxygen.conf -text
doxydoc/Cbc/doxygen.conf -text
doxydoc/Clp/doxygen.conf -text
doxydoc/CoinUtils/doxygen.conf -text
doxydoc/Decomp/doxygen.conf -text
doxydoc/Osi/doxygen.conf -text
doxydoc/all/doxygen.conf -text
/install-sh -text
/ltmain.sh -text
/missing -text
share/config.site -text
