* text=auto !eol
.coin-or/projDesc.xml -text
/.travis.yml -text
/AUTHORS -text
/Dependencies -text
Dip/AUTHORS -text
Dip/LICENSE -text
Dip/MSVisualStudio/v10/Decomp/Dip.sln -text
Dip/MSVisualStudio/v10/Decomp/Dip.vcxproj -text
Dip/MSVisualStudio/v10/Decomp/libDecomp/libDecomp.vcxproj -text
Dip/MSVisualStudio/v10/DecompExamples/ATM/ATM.vcxproj -text
Dip/MSVisualStudio/v10/DecompExamples/DecompExamples.sln -text
Dip/MSVisualStudio/v10/DecompExamples/DecompExamples.suo -text
Dip/MSVisualStudio/v10/DecompExamples/MCF/MCF.vcxproj -text
Dip/MSVisualStudio/v10/DecompExamples/Milp/Milp.vcxproj -text
Dip/MSVisualStudio/v10/DecompExamples/MilpBlock/MilpBlock.vcxproj -text
Dip/MSVisualStudio/v10/DecompExamples/SmallIP/SmallIP.vcxproj -text
Dip/MSVisualStudio/v10/Dippy/Dippy.sln -text
Dip/MSVisualStudio/v10/Dippy/Dippy.vcxproj -text
Dip/MSVisualStudio/v9/Decomp/ExternalSolvers/Knapsack/Pisinger/Pisinger.sln -text
Dip/MSVisualStudio/v9/Decomp/ExternalSolvers/Knapsack/Pisinger/Pisinger.vcproj -text
Dip/MSVisualStudio/v9/Decomp/ExternalSolvers/TSP/libConcorde/libConcorde.vcproj -text
Dip/MSVisualStudio/v9/Decomp/ExternalSolvers/VRP/CVRPSEP/CVRPSEP.vcproj -text
Dip/MSVisualStudio/v9/Decomp/libDecomp/libDecomp.sln -text
Dip/MSVisualStudio/v9/Decomp/libDecomp/libDecomp.vcproj -text
Dip/MSVisualStudio/v9/DecompExamples/ATM/ATM.vcproj -text
Dip/MSVisualStudio/v9/DecompExamples/ATM/atm.parm -text
Dip/MSVisualStudio/v9/DecompExamples/DecompExamples.sln -text
Dip/MSVisualStudio/v9/DecompExamples/GAP/GAP.vcproj -text
Dip/MSVisualStudio/v9/DecompExamples/GAP/gap.parm -text
Dip/MSVisualStudio/v9/DecompExamples/MCF/MCF.vcproj -text
Dip/MSVisualStudio/v9/DecompExamples/MCF/mcf.parm -text
Dip/MSVisualStudio/v9/DecompExamples/MMKP/MMKP.vcproj -text
Dip/MSVisualStudio/v9/DecompExamples/MMKP/mmkp.parm -text
Dip/MSVisualStudio/v9/DecompExamples/Milp/Milp.vcproj -text
Dip/MSVisualStudio/v9/DecompExamples/Milp/milp.parm -text
Dip/MSVisualStudio/v9/DecompExamples/MilpBlock/MilpBlock.vcproj -text
Dip/MSVisualStudio/v9/DecompExamples/MilpBlock/milpblock.parm -text
Dip/MSVisualStudio/v9/DecompExamples/SSR/SSR.vcproj -text
Dip/MSVisualStudio/v9/DecompExamples/SSR/ssr.parm -text
Dip/MSVisualStudio/v9/DecompExamples/SmallIP/SmallIP.vcproj -text
Dip/MSVisualStudio/v9/DecompExamples/SmallIP/smallip.parm -text
Dip/MSVisualStudio/v9/DecompExamples/VRP/VRP.vcproj -text
Dip/MSVisualStudio/v9/DecompExamples/VRP/vrp.parm -text
Dip/Makefile.am -text
Dip/Makefile.in -text
Dip/README -text
Dip/README.rst -text
Dip/bugs/OsiCbc/main.cpp -text
Dip/bugs/OsiCbc/tmp.mps -text
Dip/bugs/PRICE_AND_CUT_subProb_relax0.n0.c0.p0.b0.lp -text
Dip/bugs/main.cpp -text
Dip/config.guess -text
Dip/config.sub -text
Dip/configure -text
Dip/configure.ac -text
Dip/data/AP3/README.md -text
Dip/data/AP3/Saltzman.tgz -text
Dip/data/ATM/ReadMe.txt -text
Dip/data/ATM/ampl.tgz -text
Dip/data/ATM/atm.direct.parm -text
Dip/data/ATM/atm.direct.sh -text
Dip/data/ATM/atm.opt -text
Dip/data/ATM/atm.pc.parm -text
Dip/data/ATM/atm.pc.sh -text
Dip/data/ATM/get.data -text
Dip/data/ATM/original.tgz -text
Dip/data/ATM/results/atm_cpx11.300.txt -text
Dip/data/ATM/results/atm_cpx11.3600.txt -text
Dip/data/ATM/results/atm_pc1.300.txt -text
Dip/data/ATM/results/atm_pc1.3600.txt -text
Dip/data/ATM/results/atm_pc_1.3600.txt -text
Dip/data/ATM/results/atm_pc_2.3600.txt -text
Dip/data/ATM/results/parameters.txt -text
Dip/data/GAP/ReadMe.txt -text
Dip/data/GAP/ReadMe2.txt -text
Dip/data/GAP/gap.opt -text
Dip/data/GAP/get.data -text
Dip/data/MAD/equipart/NN.tar.gz -text
Dip/data/MAD/equipart/madlib.equipart.list -text
Dip/data/MAD/equipart/madlib.equipart.opt -text
Dip/data/MAD/madlib.list -text
Dip/data/MAD/madlib.opt.xls -text
Dip/data/MAD/madlibMPS/createAll.sh -text
Dip/data/MAD/madlibMPS/createOne.sh -text
Dip/data/MAD/miplib/ReadMe.txt -text
Dip/data/MAD/miplib/changename.sh -text
Dip/data/MAD/miplib/madlib.miplib.list -text
Dip/data/MAD/miplib/madlib.miplib.opt -text
Dip/data/MAD/miplib/p0033.p.lp -text
Dip/data/MAD/miplib/p0282.p.lp -text
Dip/data/MAD/miplibT/ReadMe.txt -text
Dip/data/MAD/miplibT/madlib.miplibT.list -text
Dip/data/MAD/miplibT/madlib.miplibT.opt -text
Dip/data/MAD/netlib/NET.tar.gz -text
Dip/data/MAD/netlib/madlib.netlib.list -text
Dip/data/MAD/netlib/madlib.netlib.opt -text
Dip/data/MAD/steiner/PST.tar.gz -text
Dip/data/MAD/steiner/madlib.steiner.list -text
Dip/data/MAD/steiner/madlib.steiner.opt -text
Dip/data/MAD/unzip.sh -text
Dip/data/MCF/get.data -text
Dip/data/MEWCP/README.md -text
Dip/data/MILP/block/get.data -text
Dip/data/MILP/block/results/parameters.txt -text
Dip/data/MILP/block/results/retail_cpx11.300.txt -text
Dip/data/MILP/block/results/retail_cpx11.3600.txt -text
Dip/data/MILP/block/results/retail_pc1.300.txt -text
Dip/data/MILP/block/results/retail_pc1.3600.txt -text
Dip/data/MILP/block/results/retail_pc2.3600.txt -text
Dip/data/MILP/block/results/retail_pc_1.3600.txt -text
Dip/data/MILP/block/results/retail_pc_2.3600.txt -text
Dip/data/MILP/block/retail.direct.parm -text
Dip/data/MILP/block/retail.direct.sh -text
Dip/data/MILP/block/retail.pc.parm -text
Dip/data/MILP/block/retail.pc.sh -text
Dip/data/MILP/block/ssr/ssr1.block -text
Dip/data/MILP/block/ssr/ssr1.mps -text
Dip/data/MILP/miplib/cbcpre.sh -text
Dip/data/MILP/miplib/get.data -text
Dip/data/MILP/miplib/miplib3.list -text
Dip/data/MMKP/gsimon/README -text
Dip/data/MMKP/gsimon/ex_xml.tgz -text
Dip/data/MMKP/gsimon/gen_mmkp.py -text
Dip/data/MMKP/gsimon/genprob.sh -text
Dip/data/MMKP/gsimon/mmkp.cpm.parm -text
Dip/data/MMKP/gsimon/mmkp.pc.parm -text
Dip/data/MMKP/gsimon/solve.sh -text
Dip/data/MMKP/hifi/get.data -text
Dip/data/MMKP/hifi/prep.data -text
Dip/data/MMKP/khan/MMKP.html -text
Dip/data/MMKP/khan/README.txt -text
Dip/data/MMKP/khan/data.tgz -text
Dip/data/MMKP/khan/mmkp.opt -text
Dip/data/SDPUC/get.data -text
Dip/data/TSP/TSPLIB_opt -text
Dip/data/TSP/get.data -text
Dip/data/TSP/tsplib.list -text
Dip/data/TSP/tsplib2.list -text
Dip/data/VRP/vrplib.tgz -text
Dip/depcomp -text
Dip/dip-uninstalled.pc.in -text
Dip/dip.pc.in -text
Dip/doc/guide/abstract.tex -text
Dip/doc/guide/binpack.tex -text
Dip/doc/guide/branch.tex -text
Dip/doc/guide/coke.tex -text
Dip/doc/guide/column.tex -text
Dip/doc/guide/commands.tex -text
Dip/doc/guide/compare.m -text
Dip/doc/guide/compare.png -text
Dip/doc/guide/concl.tex -text
Dip/doc/guide/cuts.tex -text
Dip/doc/guide/cutting_stock.tex -text
Dip/doc/guide/define.tex -text
Dip/doc/guide/dippy.pdf -text
Dip/doc/guide/dippy.ps -text
Dip/doc/guide/dippy.tcp -text
Dip/doc/guide/dippy.tex -text
Dip/doc/guide/dpf.m -text
Dip/doc/guide/figure1.png -text
Dip/doc/guide/heuristics.tex -text
Dip/doc/guide/img/bpp_tree1.eps -text
Dip/doc/guide/img/bpp_tree1.png -text
Dip/doc/guide/img/bpp_tree2.eps -text
Dip/doc/guide/img/bpp_tree2.png -text
Dip/doc/guide/img/bpp_tree3.eps -text
Dip/doc/guide/img/bpp_tree3.png -text
Dip/doc/guide/img/bpp_tree4.eps -text
Dip/doc/guide/img/bpp_tree4.png -text
Dip/doc/guide/img/compare.eps -text
Dip/doc/guide/img/compare.png -text
Dip/doc/guide/img/diagram.eps -text
Dip/doc/guide/img/diagram.svg -text
Dip/doc/guide/img/figure1.eps -text
Dip/doc/guide/img/figure1.png -text
Dip/doc/guide/img/interface.eps -text
Dip/doc/guide/img/interface.png -text
Dip/doc/guide/img/interface.pptx -text
Dip/doc/guide/img/wedbench.eps -text
Dip/doc/guide/interface.png -text
Dip/doc/guide/interface.pptx -text
Dip/doc/guide/intro.tex -text
Dip/doc/guide/latex.py -text
Dip/doc/guide/master.bib -text
Dip/doc/guide/myacronym.sty -text
Dip/doc/guide/overview.tex -text
Dip/doc/guide/report-title.pdf -text
Dip/doc/guide/report-title.ps -text
Dip/doc/guide/report-title.tex -text
Dip/doc/guide/starting.tex -text
Dip/doc/guide/techs.tex -text
Dip/doc/guide/tsp.tex -text
Dip/doc/guide/tsp_cuts1.png -text
Dip/doc/guide/tsp_cuts2.png -text
Dip/doc/guide/tsp_figs.m -text
Dip/doc/guide/tsp_prob.png -text
Dip/doc/guide/tsp_soln.png -text
Dip/doc/guide/wedding.tex -text
Dip/doxydoc/doxygen.conf.in -text
Dip/examples/AP3/AP3_DecompApp.cpp -text
Dip/examples/AP3/AP3_DecompApp.h -text
Dip/examples/AP3/AP3_DecompParam.h -text
Dip/examples/AP3/AP3_Instance.h -text
Dip/examples/AP3/AP3_Main.cpp -text
Dip/examples/AP3/Makefile.in -text
Dip/examples/AP3/ap3.parm.in -text
Dip/examples/ATM/ATM_DecompApp.cpp -text
Dip/examples/ATM/ATM_DecompApp.h -text
Dip/examples/ATM/ATM_Instance.cpp -text
Dip/examples/ATM/ATM_Instance.h -text
Dip/examples/ATM/ATM_Main.cpp -text
Dip/examples/ATM/ATM_Param.h -text
Dip/examples/ATM/Makefile.in -text
Dip/examples/ATM/atm.parm.in -text
Dip/examples/ATM/data_extract.sh.in -text
Dip/examples/ATM/notes.txt -text
Dip/examples/Dippy/README -text
Dip/examples/ExternalSolvers/Graph/get.boost.in -text
Dip/examples/ExternalSolvers/Knapsack/Pisinger/Makefile.in -text
Dip/examples/ExternalSolvers/Knapsack/Pisinger/combo.c.patch -text
Dip/examples/ExternalSolvers/Knapsack/Pisinger/combo.h.patch -text
Dip/examples/ExternalSolvers/Knapsack/Pisinger/get.pisinger.in -text
Dip/examples/ExternalSolvers/Knapsack/Pisinger/mcknap.c.patch -text
Dip/examples/ExternalSolvers/Knapsack/Pisinger/mcknap.h -text
Dip/examples/ExternalSolvers/Knapsack/Pisinger/mcknap.h.in -text
Dip/examples/ExternalSolvers/Knapsack/Pisinger/patch.pisinger.in -text
Dip/examples/ExternalSolvers/Knapsack/Pisinger/patch.pisinger.msvs -text
Dip/examples/ExternalSolvers/TSP/get.concorde.in -text
Dip/examples/ExternalSolvers/VRP/get.cvrpsep.in -text
Dip/examples/GAP/GAP_Debug.h -text
Dip/examples/GAP/GAP_DecompApp.cpp -text
Dip/examples/GAP/GAP_DecompApp.h -text
Dip/examples/GAP/GAP_DecompApp3.cpp -text
Dip/examples/GAP/GAP_DecompApp3.h -text
Dip/examples/GAP/GAP_DecompApp4.cpp -text
Dip/examples/GAP/GAP_DecompParam.h -text
Dip/examples/GAP/GAP_Instance.cpp -text
Dip/examples/GAP/GAP_Instance.h -text
Dip/examples/GAP/GAP_KnapPisinger.h -text
Dip/examples/GAP/GAP_Main.cpp -text
Dip/examples/GAP/GAP_Status.h -text
Dip/examples/GAP/Makefile.in -text
Dip/examples/GAP/README.txt.in -text
Dip/examples/GAP/data_extract.sh.in -text
Dip/examples/GAP/gap.parm.in -text
Dip/examples/GAP/get_pisinger.sh.in -text
Dip/examples/GAP/old/GAP_Knapsack.h -text
Dip/examples/MAD/MAD_Cliquer.h -text
Dip/examples/MAD/MAD_CliquerI.h -text
Dip/examples/MAD/MAD_DecompApp.cpp -text
Dip/examples/MAD/MAD_DecompApp.h -text
Dip/examples/MAD/MAD_DecompDebug.cpp -text
Dip/examples/MAD/MAD_DecompDebug.h -text
Dip/examples/MAD/MAD_DecompParam.h -text
Dip/examples/MAD/MAD_DecompSolution.h -text
Dip/examples/MAD/MAD_Heuristic.cpp -text
Dip/examples/MAD/MAD_Main.cpp -text
Dip/examples/MAD/MAD_MemPool.h -text
Dip/examples/MAD/MAD_Qualex.h -text
Dip/examples/MAD/Makefile.in -text
Dip/examples/MAD/ReadMe.txt -text
Dip/examples/MAD/TODO -text
Dip/examples/MAD/mad.parm.in -text
Dip/examples/MCF/MCF_DecompApp.cpp -text
Dip/examples/MCF/MCF_DecompApp.h -text
Dip/examples/MCF/MCF_Instance.cpp -text
Dip/examples/MCF/MCF_Instance.h -text
Dip/examples/MCF/MCF_Main.cpp -text
Dip/examples/MCF/MCF_Param.h -text
Dip/examples/MCF/Makefile.in -text
Dip/examples/MCF/README.txt.in -text
Dip/examples/MCF/data_extract.sh.in -text
Dip/examples/MCF/mcf.parm.in -text
Dip/examples/MILP/MILP_DecompApp.cpp -text
Dip/examples/MILP/MILP_DecompApp.h -text
Dip/examples/MILP/MILP_Main.cpp -text
Dip/examples/MILP/MILP_Param.h -text
Dip/examples/MILP/Makefile.in -text
Dip/examples/MILP/README.txt.in -text
Dip/examples/MILP/data_extract.sh.in -text
Dip/examples/MILP/milp.parm.in -text
Dip/examples/MILPBlock/MILPBlock_DecompApp.cpp -text
Dip/examples/MILPBlock/MILPBlock_DecompApp.h -text
Dip/examples/MILPBlock/MILPBlock_Main.cpp -text
Dip/examples/MILPBlock/MILPBlock_Param.h -text
Dip/examples/MILPBlock/Makefile.in -text
Dip/examples/MILPBlock/README.txt.in -text
Dip/examples/MILPBlock/data_extract.sh.in -text
Dip/examples/MILPBlock/milpblock.parm.in -text
Dip/examples/MILPBlock/milpblock.parm2.in -text
Dip/examples/MILPBlock/test.sh.in -text
Dip/examples/MMKP/MMKP_DecompApp.cpp -text
Dip/examples/MMKP/MMKP_DecompApp.h -text
Dip/examples/MMKP/MMKP_Instance.cpp -text
Dip/examples/MMKP/MMKP_Instance.h -text
Dip/examples/MMKP/MMKP_MCKnap.cpp -text
Dip/examples/MMKP/MMKP_MCKnap.h -text
Dip/examples/MMKP/MMKP_Main.cpp -text
Dip/examples/MMKP/MMKP_MemPool.h -text
Dip/examples/MMKP/MMKP_Model.h -text
Dip/examples/MMKP/MMKP_Param.h -text
Dip/examples/MMKP/Makefile.in -text
Dip/examples/MMKP/NOTES.txt -text
Dip/examples/MMKP/README.txt.in -text
Dip/examples/MMKP/data_extract.sh.in -text
Dip/examples/MMKP/get_pisinger.sh.in -text
Dip/examples/MMKP/mmkp.parm.in -text
Dip/examples/MMKP/old/old.cpp -text
Dip/examples/Makefile.Examples.in -text
Dip/examples/SDPUC/Makefile.in -text
Dip/examples/SDPUC/README.txt.in -text
Dip/examples/SDPUC/SDPUC_DecompApp.cpp -text
Dip/examples/SDPUC/SDPUC_DecompApp.h -text
Dip/examples/SDPUC/SDPUC_Instance.cpp -text
Dip/examples/SDPUC/SDPUC_Instance.h -text
Dip/examples/SDPUC/SDPUC_Main.cpp -text
Dip/examples/SDPUC/SDPUC_Param.h -text
Dip/examples/SDPUC/data_extract.sh.in -text
Dip/examples/SDPUC/sdpuc.parm.in -text
Dip/examples/SmallIP/Makefile.in -text
Dip/examples/SmallIP/README.txt.in -text
Dip/examples/SmallIP/SmallIP_DecompApp.cpp -text
Dip/examples/SmallIP/SmallIP_DecompApp.h -text
Dip/examples/SmallIP/SmallIP_DecompApp2.cpp -text
Dip/examples/SmallIP/SmallIP_DecompApp2.h -text
Dip/examples/SmallIP/SmallIP_Main.cpp -text
Dip/examples/SmallIP/smallip.parm.in -text
Dip/examples/SmallIP/test.sh.in -text
Dip/examples/TSP/Makefile.in -text
Dip/examples/TSP/TSP_Boost.h -text
Dip/examples/TSP/TSP_Concorde.h -text
Dip/examples/TSP/TSP_ConcordeI.h -text
Dip/examples/TSP/TSP_CutGen.cpp -text
Dip/examples/TSP/TSP_DecompApp.cpp -text
Dip/examples/TSP/TSP_DecompApp.h -text
Dip/examples/TSP/TSP_Instance.h -text
Dip/examples/TSP/TSP_Main.cpp -text
Dip/examples/TSP/TSP_Param.h -text
Dip/examples/TSP/TSP_SubtourCut.cpp -text
Dip/examples/TSP/TSP_SubtourCut.h -text
Dip/examples/TSP/data_extract.sh.in -text
Dip/examples/TSP/get_boost.sh.in -text
Dip/examples/TSP/get_concorde.sh.in -text
Dip/examples/TSP/tsp.parm.in -text
Dip/examples/VRP/Makefile.in -text
Dip/examples/VRP/VRP_Boost.h -text
Dip/examples/VRP/VRP_CVRPsep.h -text
Dip/examples/VRP/VRP_Concorde.h -text
Dip/examples/VRP/VRP_ConcordeI.h -text
Dip/examples/VRP/VRP_DecompApp.cpp -text
Dip/examples/VRP/VRP_DecompApp.h -text
Dip/examples/VRP/VRP_GSECCut.cpp -text
Dip/examples/VRP/VRP_GSECCut.h -text
Dip/examples/VRP/VRP_Instance.h -text
Dip/examples/VRP/VRP_Main.cpp -text
Dip/examples/VRP/VRP_Param.h -text
Dip/examples/VRP/VRP_SPPRC.cpp -text
Dip/examples/VRP/data_extract.sh.in -text
Dip/examples/VRP/get_boost.sh.in -text
Dip/examples/VRP/get_concorde.sh.in -text
Dip/examples/VRP/get_cvrpsep.sh.in -text
Dip/examples/VRP/vrp.parm.in -text
Dip/examples/scripts/addedge.awk -text
Dip/examples/scripts/addedges.sh -text
Dip/examples/scripts/build.sh -text
Dip/examples/scripts/condor/copy.sh -text
Dip/examples/scripts/condor/createsub.sh -text
Dip/examples/scripts/condor/createsub_lnx_ap3.sh -text
Dip/examples/scripts/condor/createsub_lnx_atm.sh -text
Dip/examples/scripts/condor/createsub_lnx_atm_inferno.sh -text
Dip/examples/scripts/condor/createsub_lnx_cplex_mad.sh -text
Dip/examples/scripts/condor/createsub_lnx_cplex_tsp.sh -text
Dip/examples/scripts/condor/createsub_lnx_cplex_vrp.sh -text
Dip/examples/scripts/condor/createsub_lnx_gap.sh -text
Dip/examples/scripts/condor/createsub_lnx_gap_inferno.sh -text
Dip/examples/scripts/condor/createsub_lnx_mad.sh -text
Dip/examples/scripts/condor/createsub_lnx_milpblock.sh -text
Dip/examples/scripts/condor/createsub_lnx_milpblock_inferno.sh -text
Dip/examples/scripts/condor/createsub_lnx_mmkp.sh -text
Dip/examples/scripts/condor/createsub_lnx_mmkp_inferno.sh -text
Dip/examples/scripts/condor/createsub_lnx_tsp.sh -text
Dip/examples/scripts/condor/createsub_lnx_vrp.sh -text
Dip/examples/scripts/condor/license_wrapper.pl -text
Dip/examples/scripts/condor/license_wrapper_tsp.pl -text
Dip/examples/scripts/condor/license_wrapper_vrp.pl -text
Dip/examples/scripts/condor/maketable.sh -text
Dip/examples/scripts/condor/parm/atmc.parm -text
Dip/examples/scripts/condor/parm/atmc2.parm -text
Dip/examples/scripts/condor/parm/atmd.parm -text
Dip/examples/scripts/condor/parm/atmp.parm -text
Dip/examples/scripts/condor/parm/atmp2.parm -text
Dip/examples/scripts/condor/parm/gapc.parm -text
Dip/examples/scripts/condor/parm/gapc2.parm -text
Dip/examples/scripts/condor/parm/gapd.parm -text
Dip/examples/scripts/condor/parm/gapp.parm -text
Dip/examples/scripts/condor/parm/gapp2.parm -text
Dip/examples/scripts/condor/parm/milpblockc.parm -text
Dip/examples/scripts/condor/parm/milpblockc2.parm -text
Dip/examples/scripts/condor/parm/milpblockd.parm -text
Dip/examples/scripts/condor/parm/milpblockp.parm -text
Dip/examples/scripts/condor/parm/milpblockp2.parm -text
Dip/examples/scripts/condor/parm/mmkpc.parm -text
Dip/examples/scripts/condor/parm/mmkpc2.parm -text
Dip/examples/scripts/condor/parm/mmkpd.parm -text
Dip/examples/scripts/condor/parm/mmkpp.parm -text
Dip/examples/scripts/condor/parm/mmkpp2.parm -text
Dip/examples/scripts/condor/report.awk -text
Dip/examples/scripts/condor/report.direct.awk -text
Dip/examples/scripts/condor/report.mmkp.sh -text
Dip/examples/scripts/condor/report.root.awk -text
Dip/examples/scripts/condor/report.sh -text
Dip/examples/scripts/condor/report2.mmkp.sh -text
Dip/examples/scripts/condor/report2.sh -text
Dip/examples/scripts/condor/reset.sh -text
Dip/examples/scripts/condor/submit.sh -text
Dip/examples/scripts/createDecompMember.sh -text
Dip/examples/scripts/getTimes.sh -text
Dip/examples/scripts/graphviz/dot2ps.sh -text
Dip/examples/scripts/random/forestry/run100.sh -text
Dip/examples/scripts/random/forestry/run200.sh -text
Dip/examples/scripts/random/forestry/run240.sh -text
Dip/examples/scripts/random/forestry/run40.sh -text
Dip/examples/scripts/report_decomp.py -text
Dip/ez_setup.py -text
Dip/images/DipPyPic2.png -text
Dip/images/GrUMPyPic.png -text
Dip/images/SolverStudioPic1.png -text
Dip/images/SolverStudioPic3.png -text
Dip/install-sh -text
Dip/ltmain.sh -text
Dip/missing -text
Dip/py-compile -text
Dip/scripts/Copyright -text
Dip/scripts/average.awk -text
Dip/scripts/copyright_add.sh -text
Dip/scripts/formatCode.sh -text
Dip/scripts/get.dip_test.sh -text
Dip/scripts/get.hmetis.sh -text
Dip/scripts/get.patoh.sh -text
Dip/scripts/get.test_data.sh -text
Dip/scripts/parse.atm.sh -text
Dip/scripts/parse.awk.retail.sh -text
Dip/scripts/parse.awk.sh -text
Dip/scripts/parse.retail.sh -text
Dip/scripts/parse2.awk.retail.sh -text
Dip/scripts/parse2.awk.sh -text
Dip/scripts/plot_bounds.py -text
Dip/setup.py -text
Dip/src/AlpsDecompModel.cpp -text
Dip/src/AlpsDecompModel.h -text
Dip/src/AlpsDecompNodeDesc.h -text
Dip/src/AlpsDecompParam.h -text
Dip/src/AlpsDecompSolution.h -text
Dip/src/AlpsDecompTreeNode.cpp -text
Dip/src/AlpsDecompTreeNode.h -text
Dip/src/Decomp.h -text
Dip/src/DecompAlgo.cpp -text
Dip/src/DecompAlgo.h -text
Dip/src/DecompAlgoC.cpp -text
Dip/src/DecompAlgoC.h -text
Dip/src/DecompAlgoCGL.cpp -text
Dip/src/DecompAlgoCGL.h -text
Dip/src/DecompAlgoD.cpp -text
Dip/src/DecompAlgoD.h -text
Dip/src/DecompAlgoPC.cpp -text
Dip/src/DecompAlgoPC.h -text
Dip/src/DecompAlgoRC.cpp -text
Dip/src/DecompAlgoRC.h -text
Dip/src/DecompApp.cpp -text
Dip/src/DecompApp.h -text
Dip/src/DecompBranch.cpp -text
Dip/src/DecompConfig.h -text
Dip/src/DecompConstraintSet.cpp -text
Dip/src/DecompConstraintSet.h -text
Dip/src/DecompCut.cpp -text
Dip/src/DecompCut.h -text
Dip/src/DecompCutOsi.h -text
Dip/src/DecompCutPool.cpp -text
Dip/src/DecompCutPool.h -text
Dip/src/DecompDebug.cpp -text
Dip/src/DecompMain.cpp -text
Dip/src/DecompMemPool.h -text
Dip/src/DecompModel.cpp -text
Dip/src/DecompModel.h -text
Dip/src/DecompParam.h -text
Dip/src/DecompSolution.h -text
Dip/src/DecompSolverResult.h -text
Dip/src/DecompStats.cpp -text
Dip/src/DecompStats.h -text
Dip/src/DecompVar.cpp -text
Dip/src/DecompVar.h -text
Dip/src/DecompVarPool.cpp -text
Dip/src/DecompVarPool.h -text
Dip/src/DecompWaitingCol.h -text
Dip/src/DecompWaitingRow.h -text
Dip/src/Makefile.am -text
Dip/src/Makefile.in -text
Dip/src/TODO -text
Dip/src/UtilGraphLib.cpp -text
Dip/src/UtilGraphLib.h -text
Dip/src/UtilHash.cpp -text
Dip/src/UtilHash.h -text
Dip/src/UtilKnapsack.cpp -text
Dip/src/UtilKnapsack.h -text
Dip/src/UtilMacros.cpp -text
Dip/src/UtilMacros.h -text
Dip/src/UtilMacrosAlps.cpp -text
Dip/src/UtilMacrosAlps.h -text
Dip/src/UtilMacrosDecomp.cpp -text
Dip/src/UtilMacrosDecomp.h -text
Dip/src/UtilParameters.cpp -text
Dip/src/UtilParameters.h -text
Dip/src/UtilTimer.h -text
Dip/src/__init__.py -text
Dip/src/config.h.in -text
Dip/src/config_default.h -text
Dip/src/config_dip.h.in -text
Dip/src/config_dip_default.h -text
Dip/src/dippy/AUTHORS -text
Dip/src/dippy/DippyDecompAlgo.cpp -text
Dip/src/dippy/DippyDecompAlgo.h -text
Dip/src/dippy/DippyDecompApp.cpp -text
Dip/src/dippy/DippyDecompApp.h -text
Dip/src/dippy/DippyDecompCut.h -text
Dip/src/dippy/DippyModule.cpp -text
Dip/src/dippy/DippyPythonUtils.cpp -text
Dip/src/dippy/DippyPythonUtils.h -text
Dip/src/dippy/DippySolve.cpp -text
Dip/src/dippy/LICENSE -text
Dip/src/dippy/Makefile.am -text
Dip/src/dippy/Makefile.in -text
Dip/src/dippy/__init__.py -text
Dip/src/dippy/dipapi.py -text
Dip/src/dippy/dippy.py -text
Dip/src/dippy/examples/SolverStudio/SolverStudioExamples.xlsx -text svneol=unset#application/vnd.ms-excel
Dip/src/dippy/examples/SolverStudio/__init__.py -text
Dip/src/dippy/examples/__init__.py -text
Dip/src/dippy/examples/bpp/__init__.py -text
Dip/src/dippy/examples/bpp/bin_pack.run -text
Dip/src/dippy/examples/bpp/bin_pack_decomp_func.py -text
Dip/src/dippy/examples/bpp/bin_pack_func.py -text
Dip/src/dippy/examples/bpp/bin_pack_instance.py -text
Dip/src/dippy/examples/bpp/bin_pack_instance2.py -text
Dip/src/dippy/examples/bpp/mdbin_pack_func.py -text
Dip/src/dippy/examples/bpp/mdbin_pack_instance.py -text
Dip/src/dippy/examples/cflp/__init__.py -text
Dip/src/dippy/examples/cflp/facility_ex1.py -text
Dip/src/dippy/examples/cflp/facility_ex2.py -text
Dip/src/dippy/examples/cflp/facility_location.py -text
Dip/src/dippy/examples/coke/__init__.py -text
Dip/src/dippy/examples/coke/coke.py -text
Dip/src/dippy/examples/coke/coke_func.py -text
Dip/src/dippy/examples/coke/coke_instance.py -text
Dip/src/dippy/examples/csp/__init__.py -text
Dip/src/dippy/examples/csp/cutting_stock.py -text
Dip/src/dippy/examples/cvpmp/CVPMP.py -text
Dip/src/dippy/examples/cvpmp/Global.py -text
Dip/src/dippy/examples/cvpmp/Instances/pmedcap1.dat -text
Dip/src/dippy/examples/cvpmp/Instances/pmedcap2.dat -text
Dip/src/dippy/examples/cvpmp/Instances/pmedcap3.dat -text
Dip/src/dippy/examples/cvpmp/Instances/pmedcap4.dat -text
Dip/src/dippy/examples/cvpmp/Instances/pmedcap5.dat -text
Dip/src/dippy/examples/cvpmp/Instances/pmedcap6.dat -text
Dip/src/dippy/examples/cvpmp/Instances/pmedcap7.dat -text
Dip/src/dippy/examples/cvpmp/__init__.py -text
Dip/src/dippy/examples/cvpmp/__main__.py -text
Dip/src/dippy/examples/cvpmp/draw.py -text
Dip/src/dippy/examples/cvpmp/readInstance.py -text
Dip/src/dippy/examples/gap/__init__.py -text
Dip/src/dippy/examples/gap/gap.py -text
Dip/src/dippy/examples/gap/gap0515-2.dat -text
Dip/src/dippy/examples/milp/__init__.py -text
Dip/src/dippy/examples/milp/milp.py -text
Dip/src/dippy/examples/tsp/__init__.py -text
Dip/src/dippy/examples/tsp/tsp.py -text
Dip/src/dippy/examples/wedding/__init__.py -text
Dip/src/dippy/examples/wedding/wedding.py -text
Dip/src/dippy/tests/__init__.py -text
Dip/src/dippy/tests/dippy_tests.py -text
Dip/src/dippy/tests/test_coke.py -text
Dip/src/dippy/tests/test_cutting_stock.py -text
Dip/src/dippy/tests/test_facility.py -text
Dip/src/dippy/tests/test_tsp.py -text
Dip/src/hmetis.h -text
Dip/src/old/BcpsDecompModel.cpp -text
Dip/src/old/BcpsDecompModel.h -text
Dip/src/old/BcpsDecompNodeDesc.h -text
Dip/src/old/BcpsDecompSolution.cpp -text
Dip/src/old/BcpsDecompSolution.h -text
Dip/src/old/BcpsDecompTreeNode.cpp -text
Dip/src/old/BcpsDecompTreeNode.h -text
Dip/src/old/DecompAlgo.cpp -text
Dip/src/old/DecompAlgo.h -text
Dip/src/old/DecompAlgo.old.cpp -text
Dip/src/old/DecompAlgo.old.h -text
Dip/src/old/DecompAlgoC.cpp -text
Dip/src/old/DecompAlgoC.h -text
Dip/src/old/DecompAlgoD.cpp -text
Dip/src/old/DecompAlgoD.h -text
Dip/src/old/DecompAlgoPC.cpp -text
Dip/src/old/DecompAlgoPC.h -text
Dip/src/old/DecompAlgoRC.cpp -text
Dip/src/old/DecompAlgoRC.h -text
Dip/src/old/DecompApp.cpp -text
Dip/src/old/DecompApp.h -text
Dip/src/old/DecompBranch.cpp -text
Dip/src/old/DecompConstants.h -text
Dip/src/old/DecompConstraintSet.cpp -text
Dip/src/old/DecompConstraintSet.h -text
Dip/src/old/DecompCut.cpp -text
Dip/src/old/DecompCut.h -text
Dip/src/old/DecompCutOsi.h -text
Dip/src/old/DecompCutPool.cpp -text
Dip/src/old/DecompCutPool.h -text
Dip/src/old/DecompDebug.cpp -text
Dip/src/old/DecompMemPool.h -text
Dip/src/old/DecompModel.h -text
Dip/src/old/DecompParam.h -text
Dip/src/old/DecompPortable.h -text
Dip/src/old/DecompSolution.h -text
Dip/src/old/DecompStats.cpp -text
Dip/src/old/DecompStats.h -text
Dip/src/old/DecompTypes.h -text
Dip/src/old/DecompVar.cpp -text
Dip/src/old/DecompVar.h -text
Dip/src/old/DecompVarPool.cpp -text
Dip/src/old/DecompVarPool.h -text
Dip/src/old/DecompWaitingCol.h -text
Dip/src/old/DecompWaitingRow.h -text
Dip/src/old/Makefile.am -text
Dip/src/old/Makefile.in -text
Dip/src/old/OsiData.hpp -text
Dip/src/old/OsiData2.hpp -text
Dip/src/old/OsiNullSolverInterface.hpp -text
Dip/src/old/OsiNullSolverInterface2.hpp -text
Dip/src/old/UtilApp.cpp -text
Dip/src/old/UtilApp.h -text
Dip/src/old/UtilGraphLib.cpp -text
Dip/src/old/UtilGraphLib.h -text
Dip/src/old/UtilHash.cpp -text
Dip/src/old/UtilHash.h -text
Dip/src/old/UtilMacros.cpp -text
Dip/src/old/UtilMacros.h -text
Dip/src/old/UtilMacrosAlps.cpp -text
Dip/src/old/UtilMacrosAlps.h -text
Dip/src/old/UtilParameters.cpp -text
Dip/src/old/UtilParameters.cpp.OLD -text
Dip/src/old/UtilParameters.h -text
Dip/src/old/UtilParameters.h.OLD -text
Dip/src/old/UtilPortable.h.OLD -text
Dip/test/Makefile.am -text
Dip/test/Makefile.in -text
/INSTALL -text
/INSTALL.md -text
/LICENSE -text
/Makefile.am -text
/Makefile.in -text
/README -text
/README.md -text
/appveyor.yml -text
conf/perms.txt -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
doxydoc/Alps/doxygen.conf -text
doxydoc/Bcps/doxygen.conf -text
doxydoc/Cbc/doxygen.conf -text
doxydoc/Clp/doxygen.conf -text
doxydoc/CoinUtils/doxygen.conf -text
doxydoc/Dip/doxygen.conf -text
doxydoc/Osi/doxygen.conf -text
doxydoc/all/doxygen.conf -text
doxydoc/doxygen.conf.in -text
/install-sh -text
/ltmain.sh -text
/missing -text
share/config.site -text
